In [102]:
import pandas as pd
import numpy as np

In [103]:
df=pd.read_csv("t20i_info.csv")

In [104]:
df.head()

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground

In [105]:
df.isnull().sum()

Unnamed: 0             0
match_id               0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8548
venue                  0
dtype: int64

In [106]:

df.shape

(63888, 9)

In [107]:
# Cricbuzz, Cricket Line Guru, Tv Screen -> Projected Score / Predicted Score

batting team, bowling team, city, current score, balls left, wicket left, current run rate, last five/six->powerplay

In [108]:
df[df['city'].isnull()]['venue'][0].split(" ")[0]

'Melbourne'

In [109]:

df['city'] = df['city'].fillna(df['venue'].apply(lambda x: x.split(' ')[0]))

In [110]:

df.tail(3)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
63885,123,964,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
63886,124,964,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
63887,125,964,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [111]:
df.isnull().sum()

Unnamed: 0          0
match_id            0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [112]:

df['city'].value_counts()

city
Colombo          4086
Mirpur           3420
Johannesburg     3331
Dubai            2969
Auckland         2532
                 ...
Victoria          123
Potchefstroom     122
Dharamsala        122
Ahmedabad         121
Carrara            64
Name: count, Length: 86, dtype: int64

In [113]:
eligible_cites = df['city'].value_counts()[df['city'].value_counts() > 600].index.tolist()

In [114]:
eligible_cites

['Colombo',
 'Mirpur',
 'Johannesburg',
 'Dubai',
 'Auckland',
 'Cape Town',
 'London',
 'Pallekele',
 'Barbados',
 'Sydney',
 'Melbourne',
 'Durban',
 'St Lucia',
 'Wellington',
 'Lauderhill',
 'Hamilton',
 'Centurion',
 'Manchester',
 'Abu Dhabi',
 'Mumbai',
 'Nottingham',
 'Southampton',
 'Mount Maunganui',
 'Chittagong',
 'Kolkata',
 'Lahore',
 'Delhi',
 'Nagpur',
 'Chandigarh',
 'Adelaide',
 'Bangalore',
 'St Kitts',
 'Cardiff',
 'Christchurch',
 'Trinidad']

In [115]:
df = df[df['city'].isin(eligible_cites)]

In [116]:
df.shape

(50501, 9)

In [117]:
df['current_score'] = df.groupby('match_id')['runs'].cumsum()

In [118]:
df['over'] = df['ball'].apply(lambda x : str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x : str(x).split(".")[1])

In [119]:

df.head(5)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3
3,3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4
4,4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,Melbourne Cricket Ground,3,0,5

In [120]:
df['ball_bowled'] = (df['over'].astype(int)*6 + df['ball_no'].astype(int))

In [121]:
df['balls_left'] = 120 - df['ball_bowled']

In [122]:
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)

In [123]:
df.head(3)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,ball_bowled,balls_left
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50501 entries, 0 to 63887
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50501 non-null  int64
 1   match_id          50501 non-null  int64
 2   batting_team      50501 non-null  object
 3   bowling_team      50501 non-null  object
 4   ball              50501 non-null  float64
 5   runs              50501 non-null  int64
 6   player_dismissed  50501 non-null  object
 7   city              50501 non-null  object
 8   venue             50501 non-null  object
 9   current_score     50501 non-null  int64
 10  over              50501 non-null  object
 11  ball_no           50501 non-null  object
 12  ball_bowled       50501 non-null  int64
 13  balls_left        50501 non-null  int64
dtypes: float64(1), int64(6), object(7)
memory usage: 5.8+ MB

In [125]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:1 if x!='0' else '0')

In [126]:
df.head(3)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,ball_bowled,balls_left
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117

In [127]:
df['player_dismissed'] = df['player_dismissed'].astype(int)
df['player_dismissed'] = df.groupby('match_id')['player_dismissed'].cumsum()

In [128]:
df['wicket_left'] = 10 - df['player_dismissed']

In [129]:

df.tail(3)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,ball_bowled,balls_left,wicket_left
63885,123,964,Sri Lanka,Australia,19.5,0,9,Colombo,R Premadasa Stadium,125,19,5,119,1,1
63886,124,964,Sri Lanka,Australia,19.6,2,9,Colombo,R Premadasa Stadium,127,19,6,120,0,1
63887,125,964,Sri Lanka,Australia,19.7,1,9,Colombo,R Premadasa Stadium,128,19,7,121,0,1

In [130]:
df['current_run_rate'] = (df['current_score']*6) / df['ball_bowled']

In [131]:
groups = df.groupby('match_id')
match_id = df['match_id'].unique()
last_five = []

for id in match_id:
    group = groups.get_group(id)
    runs_rolling = group['runs'].rolling(window=30, min_periods=1).sum()
    last_five.extend(runs_rolling.tolist())

df['last_five'] = last_five

In [132]:
last_five

[0.0,
 0.0,
 1.0,
 3.0,
 3.0,
 6.0,
 6.0,
 7.0,
 7.0,
 7.0,
 11.0,
 13.0,
 14.0,
 15.0,
 15.0,
 15.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 22.0,
 26.0,
 27.0,
 30.0,
 33.0,
 37.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0,
 1.0,
 2.0,
 8.0,
 9.0,
 9.0,
 13.0,
 14.0,
 15.0,
 15.0,
 19.0,
 20.0,
 21.0,
 21.0,
 25.0,
 26.0,
 27.0,
 31.0,
 31.0,
 31.0,
 35.0,
 35.0,
 39.0,
 40.0,
 44.0,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 0.0,
 3.0,
 4.0,
 4.0,
 4.0,
 8.0,
 9.0,
 13.0,
 17.0,
 19.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 26.0,
 26.0,
 30.0,
 31.0,
 35.0,
 35.0,
 35.0,
 39.0,
 40.0,
 40.0,
 41.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 43.0,
 42.0,
 42.0,
 43.0,
 40.0,
 40.0,
 37.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 37.0,
 34.0,
 39.0,
 35.0,
 36.0,
 36.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 34.0,
 35.0,
 41.0,
 43.0,
 41.0,
 42.0,
 43.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 47.0,
 50.0,
 51.0,
 52.0,
 57.0,
 53.0,
 58.0,
 61.0,
 59.0,
 65.0,
 68.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 74.0,
 73.0,
 68.0,
 67.0,
 66.0,
 66.0,
 66.0,
 70.0,
 70.0,
 71.0,
 71.0,
 72.0,
 74.0,
 69.0,
 65.0,
 66.0,
 64.0,
 59.0,
 58.0,
 53.0,
 50.0,
 48.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 41.0,
 42.0,
 40.0,
 40.0,
 41.0,
 40.0,
 41.0,
 40.0,
 40.0,
 0.0,
 1.0,
 5.0,
 9.0,
 9.0,
 9.0,
 10.0,
 11.0,
 11.0,
 11.0,
 12.0,
 13.0,
 13.0,
 13.0,
 14.0,
 14.0,
 18.0,
 19.0,
 19.0,
 20.0,
 20.0,
 20.0,
 24.0,
 28.0,
 30.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 35.0,
 35.0,
 32.0,
 32.0,
 32.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 31.0,
 31.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 28.0,
 25.0,
 21.0,
 20.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 25.0,
 26.0,
 27.0,
 28.0,
 34.0,
 34.0,
 34.0,
 35.0,
 38.0,
 40.0,
 44.0,
 45.0,
 45.0,
 45.0,
 46.0,
 51.0,
 54.0,
 53.0,
 53.0,
 53.0,
 56.0,
 56.0,
 59.0,
 64.0,
 70.0,
 70.0,
 71.0,
 69.0,
 67.0,
 67.0,
 63.0,
 62.0,
 62.0,
 67.0,
 67.0,
 72.0,
 73.0,
 71.0,
 68.0,
 68.0,
 65.0,
 68.0,
 68.0,
 74.0,
 73.0,
 69.0,
 66.0,
 68.0,
 74.0,
 74.0,
 71.0,
 76.0,
 73.0,
 68.0,
 62.0,
 67.0,
 68.0,
 0.0,
 4.0,
 4.0,
 4.0,
 5.0,
 5.0,
 5.0,
 9.0,
 13.0,
 14.0,
 14.0,
 14.0,
 14.0,
 14.0,
 15.0,
 15.0,
 15.0,
 15.0,
 16.0,
 17.0,
 17.0,
 19.0,
 19.0,
 19.0,
 25.0,
 29.0,
 33.0,
 37.0,
 41.0,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 47.0,
 51.0,
 51.0,
 48.0,
 44.0,
 44.0,
 45.0,
 46.0,
 47.0,
 49.0,
 49.0,
 50.0,
 52.0,
 54.0,
 54.0,
 54.0,
 55.0,
 54.0,
 60.0,
 61.0,
 56.0,
 58.0,
 58.0,
 54.0,
 56.0,
 57.0,
 56.0,
 55.0,
 52.0,
 51.0,
 48.0,
 45.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 43.0,
 43.0,
 45.0,
 44.0,
 47.0,
 47.0,
 46.0,
 49.0,
 44.0,
 43.0,
 46.0,
 40.0,
 38.0,
 44.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 46.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 47.0,
 50.0,
 50.0,
 50.0,
 55.0,
 52.0,
 51.0,
 53.0,
 53.0,
 53.0,
 50.0,
 49.0,
 50.0,
 46.0,
 46.0,
 50.0,
 44.0,
 43.0,
 44.0,
 43.0,
 46.0,
 0.0,
 1.0,
 2.0,
 5.0,
 7.0,
 7.0,
 7.0,
 7.0,
 8.0,
 12.0,
 12.0,
 14.0,
 18.0,
 24.0,
 24.0,
 25.0,
 25.0,
 26.0,
 26.0,
 27.0,
 28.0,
 28.0,
 28.0,
 28.0,
 32.0,
 32.0,
 32.0,
 32.0,
 33.0,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 0.0,
 0.0,
 2.0,
 2.0,
 2.0,
 4.0,
 4.0,
 4.0,
 8.0,
 9.0,
 13.0,
 13.0,
 14.0,
 14.0,
 20.0,
 21.0,
 21.0,
 21.0,
 23.0,
 23.0,
 25.0,
 25.0,
 25.0,
 26.0,
 30.0,
 31.0,
 32.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 42.0,
 43.0,
 39.0,
 38.0,
 35.0,
 36.0,
 36.0,
 40.0,
 35.0,
 38.0,
 38.0,
 42.0,
 41.0,
 42.0,
 41.0,
 41.0,
 41.0,
 46.0,
 43.0,
 42.0,
 41.0,
 43.0,
 43.0,
 42.0,
 41.0,
 44.0,
 47.0,
 48.0,
 49.0,
 52.0,
 49.0,
 48.0,
 52.0,
 53.0,
 53.0,
 58.0,
 58.0,
 58.0,
 61.0,
 58.0,
 59.0,
 55.0,
 57.0,
 57.0,
 57.0,
 61.0,
 61.0,
 55.0,
 58.0,
 59.0,
 61.0,
 56.0,
 56.0,
 57.0,
 58.0,
 54.0,
 51.0,
 54.0,
 53.0,
 51.0,
 52.0,
 53.0,
 50.0,
 49.0,
 48.0,
 43.0,
 48.0,
 48.0,
 44.0,
 43.0,
 48.0,
 48.0,
 45.0,
 44.0,
 43.0,
 41.0,
 43.0,
 45.0,
 47.0,
 47.0,
 45.0,
 45.0,
 44.0,
 43.0,
 42.0,
 42.0,
 42.0,
 1.0,
 3.0,
 3.0,
 3.0,
 4.0,
 5.0,
 5.0,
 5.0,
 9.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 11.0,
 13.0,
 15.0,
 15.0,
 15.0,
 21.0,
 25.0,
 27.0,
 28.0,
 30.0,
 30.0,
 34.0,
 35.0,
 35.0,
 36.0,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 40.0,
 40.0,
 41.0,
 42.0,
 39.0,
 39.0,
 42.0,
 43.0,
 44.0,
 44.0,
 44.0,
 42.0,
 41.0,
 41.0,
 41.0,
 35.0,
 31.0,
 30.0,
 29.0,
 27.0,
 27.0,
 23.0,
 23.0,
 24.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 41.0,
 41.0,
 42.0,
 46.0,
 47.0,
 48.0,
 47.0,
 47.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 33.0,
 33.0,
 38.0,
 36.0,
 35.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 0.0,
 1.0,
 2.0,
 2.0,
 2.0,
 3.0,
 4.0,
 4.0,
 5.0,
 6.0,
 6.0,
 6.0,
 7.0,
 8.0,
 8.0,
 ...]

In [133]:

df.head(3)

,Unnamed: 0,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,venue,current_score,over,ball_no,ball_bowled,balls_left,wicket_left,current_run_rate,last_five
0,0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,10,0.0,0.0
1,1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,10,0.0,0.0
2,2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,10,2.0,1.0

In [135]:
df = df.drop(columns=['wicket_left','current_run_rate'])

In [136]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df, on='match_id')

In [137]:

final_df.head(4)

,match_id,runs_x,Unnamed: 0,batting_team,bowling_team,ball,runs_y,player_dismissed,city,venue,current_score,over,ball_no,ball_bowled,balls_left,last_five
0,2,168,0,Australia,Sri Lanka,0.1,0,0,Melbourne,Melbourne Cricket Ground,0,0,1,1,119,0.0
1,2,168,1,Australia,Sri Lanka,0.2,0,0,Melbourne,Melbourne Cricket Ground,0,0,2,2,118,0.0
2,2,168,2,Australia,Sri Lanka,0.3,1,0,Melbourne,Melbourne Cricket Ground,1,0,3,3,117,1.0
3,2,168,3,Australia,Sri Lanka,0.4,2,0,Melbourne,Melbourne Cricket Ground,3,0,4,4,116,3.0

In [138]:
final_df.columns

Index(['match_id', 'runs_x', 'Unnamed: 0', 'batting_team', 'bowling_team',
       'ball', 'runs_y', 'player_dismissed', 'city', 'venue', 'current_score',
       'over', 'ball_no', 'ball_bowled', 'balls_left', 'last_five'],
      dtype='object')

In [139]:
final_df = final_df[['batting_team', 'bowling_team', 'city', 'current_score', 'balls_left', 'last_five', 'runs_x']]

In [140]:

final_df.dropna(inplace=True)

In [141]:

final_df.head()

,batting_team,bowling_team,city,current_score,balls_left,last_five,runs_x
0,Australia,Sri Lanka,Melbourne,0,119,0.0,168
1,Australia,Sri Lanka,Melbourne,0,118,0.0,168
2,Australia,Sri Lanka,Melbourne,1,117,1.0,168
3,Australia,Sri Lanka,Melbourne,3,116,3.0,168
4,Australia,Sri Lanka,Melbourne,3,115,3.0,168

In [142]:

final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
last_five        0
runs_x           0
dtype: int64

In [143]:
final_df.shape

(50501, 7)

In [144]:
final_df = final_df.sample(final_df.shape[0])

In [145]:
final_df.shape

(50501, 7)

In [146]:
final_df.head(3)

,batting_team,bowling_team,city,current_score,balls_left,last_five,runs_x
50415,Sri Lanka,Australia,Colombo,49,80,40.0,128
14201,South Africa,New Zealand,Johannesburg,34,96,34.0,133
28167,India,South Africa,Durban,28,97,28.0,168

In [148]:
X = final_df.drop(columns=['runs_x'])
y = final_df['runs_x']

In [149]:
from sklearn.model_selection import train_test_split

In [150]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [151]:
X_train

,batting_team,bowling_team,city,current_score,balls_left,last_five
30693,Sri Lanka,Pakistan,Abu Dhabi,100,48,29.0
5959,Sri Lanka,India,Colombo,124,29,28.0
25642,New Zealand,England,St Lucia,68,54,29.0
47428,Pakistan,India,Kolkata,60,49,26.0
41298,India,Sri Lanka,Mirpur,117,15,36.0
...,...,...,...,...,...,...
47816,Bangladesh,Australia,Bangalore,112,19,32.0
32111,New Zealand,Sri Lanka,Pallekele,2,115,2.0
34823,West Indies,New Zealand,Lauderhill,76,61,42.0
33020,Pakistan,India,Colombo,49,70,21.0
27398,Pakistan,England,Dubai,100,23,42.0

In [152]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error

In [153]:
transformer = ColumnTransformer([
    ('transformer', OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team', 'city'])
], remainder='passthrough')

In [155]:
pipe = Pipeline(steps=[
    ('step1', transformer),
    ('step2', StandardScaler(with_mean=False)),
    ('step3', RandomForestRegressor(n_estimators=10))
])

In [156]:
pipe

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('transformer',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', StandardScaler(with_mean=False)),
                ('step3', RandomForestRegressor(n_estimators=10))])

In [157]:
pipe.fit(X_train, y_train)
y_pred = pipe.predict(X_test)

In [158]:
r2_score(y_test, y_pred)

0.8940635326757862

In [159]:

import pickle
pickle.dump(pipe, open('pipe.pkl', 'wb'))